@model Entities.Article

@{
    ViewBag.Title = Model.Title;
}



        <div>
            <h1>
                @Html.DisplayFor(model => model.Title)
            </h1>

            <h5>
                @Html.Raw(Model.Content)
            </h5>

            <th class="col md-6">
                @Html.DisplayFor(model => model.CreateDate) 
            </th>                      
        </div>

    
        <br />

<p>
    @Html.ActionLink("Listeye Dön", "Index", new { id = Model.Id })
</p>
