#faceFooterIcon:hover {
    color: chartreuse;
}

#twitterFooterIcon:hover {
    color: chartreuse;
}

#youtubeFooterIcon:hover {
    color: chartreuse;
}

#instagramFooterIcon:hover {
    color: chartreuse !important;
}

#yazi1 {
    color: white;
}

#yazi2 {
    color: white;
}

#yazi3 {
    color: white;
}

#yazi4 {
    color: white;
}

#yazi5 {
    color: white;
}

#yazi6 {
    color: white;
}

#yazi1:hover {
    color: chartreuse;
}

#yazi2:hover {
    color: chartreuse;
}

#yazi3:hover {
    color: chartreuse;
}

#yazi4:hover {
    color: chartreuse;
}

#yazi5:hover {
    color: chartreuse;
}

#yazi6:hover {
    color: chartreuse;
}

#navbar1:hover {
    color: chartreuse;
}

#navbar2:hover {
    color: chartreuse;
}

#navbar3:hover {
    color: chartreuse;
}

#navbar4:hover {
    color: chartreuse;
}

#navbar5:hover {
    color: chartreuse;
}

#navbar6:hover {
    color: chartreuse;
}
