

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/*.koyuRenk {
    background-color: #212529 !important;
}*/

.koyuRenk {
    background-color: #0079c1 !important;
}

#faceFooterIcon:hover {

}

